@model Purina.CanyonCreekRanch.Admin.Models.ProductModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Product</legend>

    <div class="display-label">Category</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductCategory.Title)
    </div>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Subtitle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subtitle)
    </div>

    <div class="display-label">Tag Line</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TagLine)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Recognizably</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Recognizably)
    </div>

    <div class="display-label">Resource Path</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResourcePath)
    </div>

    <div class="display-label">Resource Prefix</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResourcePrefix)
    </div>

    <div class="display-label">Feed Table</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FeedTable)
    </div>

    <div class="display-label">Guarantee Table</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GuaranteeTable)
    </div>

    <div class="display-label">Ingredients</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ingredients)
    </div>

    <div class="display-label">Nutrition</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nutrition)
    </div>

    <div class="display-label">Url</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FriendlyUrl)
    </div>

    <div class="display-label">Active</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
